<h1>Users List</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Relationship</th>
    </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= relationship(user) %></td>
      <td><%= current_user.friend_requestable?(user) \
        ? button_to("Friend Request", friend_url(user.id)) \
        : "" %></td>
    </tr>
  <% end %>
  </tbody>
</table>
